.App {
  text-align: center;
}
.nav1{
  border-radius: 10px;
}
.nav1:hover{
  background-color: rgb(0, 94, 255);
  border-radius: 10px;
} 
.nav2{
  margin-top: 5.5px;
  height: 5%;
}
.nav2:hover{
  background-color: rgb(0, 94, 255);
  border-radius: 10px;
} 

/* .nav2:hover>.dropdown-menu {
  display: block;
} */
/* .nav2>.dropdown-toggle:active {
    pointer-events: none;
} */

.nav1 .nav-link:hover {
  color: white;
}

.nav1 .NavDropdown.Item{
  background-color: #61dafb;
}

#custom-toggle {
  color: #FFFFFF; /* Change this to the color you desire */
  background-color: rgb(255,255,255,0.5); /* Change this if you want to change the background color */
  border-color: #7a7a7a; /* Change this to set the border color, if necessary */
}

/* App.css */
.navbar {
  background: transparent; /* Set the Navbar's background to transparent */
  position: relative;
  z-index: 1; /* Set the Navbar's z-index higher than the Carousel */
}

.navbar.active{
  background: #282828;
  color:white;
}

.custom-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  z-index: 0; /* Set the Carousel's z-index lower than the Navbar */
  /* Customize other Carousel styles as needed */
}

.about{
  flex-wrap: wrap;
  margin-top: 3%;
}

/* #contact:hover{
  border-radius: 30px; 
  font-weight: bold;
  background-color: rgb(8, 107, 220);
  border-color: rgb(8, 107, 220);
} */

#slide1{
  margin-top: -45%;
  margin-left: 30%;
  justify-content:left;
  font-size: large;
}
#Services1, #Services2, #Services3{
  box-shadow: 5px 5px 10px rgba(167, 167, 167, 0.2);
  transition: transform 0.4s ease-in-out;
}
#Services1:hover, #Services2:hover, #Services3:hover{
  box-shadow: 5px 5px 10px rgba(167, 167, 167, 0.2);
  transform: scale(1.1); /* Smooth transition on opacity */
  cursor:pointer;
}

/* .requestform{
  border: solid 1px;
  width: 60%;
  padding: 3%;
  margin-bottom: 10%;
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
